@model OwnerViewModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details about @Model.Name</h2>

<div>
    <label asp-for="@Model.Username"></label>
    <span>@Model.Username</span>
</div>

<span>@Model.Name`s pets</span>
@await Html.PartialAsync("_PetsShortViewPartial", Model.Pets);
